{% extends 'base.html' %}

{% block title %}
Articles list
{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        {% if current_user.is_authenticated %}
        <h1>Author</h1>
        {% for title in articles %}
        <ul>
            <li>
                <a href="{{ url_for('user_app.details', user_id=title.id) }}">{{ title.author }}</a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="col">
        <h1>Articles</h1>
        {% for title in articles %}
        <ul>
            <li>
                {{ title.text }}
            </li>
        </ul>
        {% endfor %}
        {% else %}
        <h1> Авторизуйтесь для просмотра статей </h1>
        {% endif %}
    </div>
</div>

{% endblock %}