{% extends 'base.html' %}
{% block title %}
Trymore list
{% endblock %}
{% block body %}

<div class='container'>
    <h3>Test</h3>
    <ul>
        <li>
            <a href="{{ url_for('trymore_app.test_time') }}" class="btn btn-primary">Moscow time now</a>
            {{ moscow_time }}
        </li>
        <li>
            <a href="{{ url_for('trymore_app.audio') }}" class="btn btn-primary">Listen text</a>
            <audio controls>
                <source src="static/sound/text1.mp3" type="audio/mpeg">
                Тег audio не поддерживается вашим браузером.
                <a href="text1.mp3">Скачайте музыку</a>.
            </audio>
            {{ result }}
        </li>
        <li>
            <a href="{{ url_for('trymore_app.text') }}" class="btn btn-primary">Test text file</a>
        </li>
        <li>
            <a href="{{ url_for('trymore_app.weather') }}" class="btn btn-primary">Current Moscow Temperature</a>
            {{ current_weather }}
        </li>
        <li>
            <a href="{{ url_for('email_app.list') }}" class="btn btn-primary">Send email</a>
        </li>
    </ul>
</div>

{% endblock %}